# coding: utf-8

"""

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 0.0.1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class PhotoServiceApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def photo_service_delete_photo(self, id, **kwargs):  # noqa: E501
        """photo_service_delete_photo  # noqa: E501

        删除照片（含文件清理）  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_delete_photo(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :return: ApiDeletePhotoResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.photo_service_delete_photo_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.photo_service_delete_photo_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def photo_service_delete_photo_with_http_info(self, id, **kwargs):  # noqa: E501
        """photo_service_delete_photo  # noqa: E501

        删除照片（含文件清理）  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_delete_photo_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :return: ApiDeletePhotoResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method photo_service_delete_photo" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `photo_service_delete_photo`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/photos/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApiDeletePhotoResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def photo_service_get_burst_groups_config(self, **kwargs):  # noqa: E501
        """photo_service_get_burst_groups_config  # noqa: E501

        读取连拍分组两档位阈值（DB 无记录时返回配置文件默认值）  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_get_burst_groups_config(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ApiGetBurstGroupsConfigResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.photo_service_get_burst_groups_config_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.photo_service_get_burst_groups_config_with_http_info(**kwargs)  # noqa: E501
            return data

    def photo_service_get_burst_groups_config_with_http_info(self, **kwargs):  # noqa: E501
        """photo_service_get_burst_groups_config  # noqa: E501

        读取连拍分组两档位阈值（DB 无记录时返回配置文件默认值）  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_get_burst_groups_config_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ApiGetBurstGroupsConfigResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method photo_service_get_burst_groups_config" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/burst-groups/config', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApiGetBurstGroupsConfigResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def photo_service_get_burst_groups_status(self, **kwargs):  # noqa: E501
        """photo_service_get_burst_groups_status  # noqa: E501

        查询连拍分组重算进度  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_get_burst_groups_status(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ApiGetBurstGroupsStatusResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.photo_service_get_burst_groups_status_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.photo_service_get_burst_groups_status_with_http_info(**kwargs)  # noqa: E501
            return data

    def photo_service_get_burst_groups_status_with_http_info(self, **kwargs):  # noqa: E501
        """photo_service_get_burst_groups_status  # noqa: E501

        查询连拍分组重算进度  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_get_burst_groups_status_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ApiGetBurstGroupsStatusResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method photo_service_get_burst_groups_status" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/burst-groups/status', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApiGetBurstGroupsStatusResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def photo_service_get_photo_detail(self, id, **kwargs):  # noqa: E501
        """photo_service_get_photo_detail  # noqa: E501

        单张详情  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_get_photo_detail(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :return: ApiGetPhotoDetailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.photo_service_get_photo_detail_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.photo_service_get_photo_detail_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def photo_service_get_photo_detail_with_http_info(self, id, **kwargs):  # noqa: E501
        """photo_service_get_photo_detail  # noqa: E501

        单张详情  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_get_photo_detail_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :return: ApiGetPhotoDetailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method photo_service_get_photo_detail" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `photo_service_get_photo_detail`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/photos/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApiGetPhotoDetailResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def photo_service_get_photo_stats(self, **kwargs):  # noqa: E501
        """photo_service_get_photo_stats  # noqa: E501

        综合统计  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_get_photo_stats(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ApiGetPhotoStatsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.photo_service_get_photo_stats_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.photo_service_get_photo_stats_with_http_info(**kwargs)  # noqa: E501
            return data

    def photo_service_get_photo_stats_with_http_info(self, **kwargs):  # noqa: E501
        """photo_service_get_photo_stats  # noqa: E501

        综合统计  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_get_photo_stats_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ApiGetPhotoStatsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method photo_service_get_photo_stats" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/photos/stats', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApiGetPhotoStatsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def photo_service_list_photo_segments(self, **kwargs):  # noqa: E501
        """photo_service_list_photo_segments  # noqa: E501

        分段导航：返回当前筛选 + 排序下每个分段的 key/label/count/offset。  必须声明在 /api/v1/photos/{id} 前，保证静态 segments 路径优先匹配。  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_list_photo_segments(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str timeline: 复用 SearchPhotos 的筛选/排序参数（不含分页）
        :param str tag:
        :param str keyword:
        :param str brand:
        :param str lens:
        :param str focal_min:
        :param str focal_max:
        :param int iso_min:
        :param int iso_max:
        :param str shot_at_start:
        :param str shot_at_end:
        :param str sort_by:
        :param str sort_order:
        :param str burst_group_id:
        :param str burst_profile:
        :param str segment_mode:
        :return: ApiListPhotoSegmentsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.photo_service_list_photo_segments_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.photo_service_list_photo_segments_with_http_info(**kwargs)  # noqa: E501
            return data

    def photo_service_list_photo_segments_with_http_info(self, **kwargs):  # noqa: E501
        """photo_service_list_photo_segments  # noqa: E501

        分段导航：返回当前筛选 + 排序下每个分段的 key/label/count/offset。  必须声明在 /api/v1/photos/{id} 前，保证静态 segments 路径优先匹配。  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_list_photo_segments_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str timeline: 复用 SearchPhotos 的筛选/排序参数（不含分页）
        :param str tag:
        :param str keyword:
        :param str brand:
        :param str lens:
        :param str focal_min:
        :param str focal_max:
        :param int iso_min:
        :param int iso_max:
        :param str shot_at_start:
        :param str shot_at_end:
        :param str sort_by:
        :param str sort_order:
        :param str burst_group_id:
        :param str burst_profile:
        :param str segment_mode:
        :return: ApiListPhotoSegmentsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['timeline', 'tag', 'keyword', 'brand', 'lens', 'focal_min', 'focal_max', 'iso_min', 'iso_max', 'shot_at_start', 'shot_at_end', 'sort_by', 'sort_order', 'burst_group_id', 'burst_profile', 'segment_mode']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method photo_service_list_photo_segments" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'timeline' in params:
            query_params.append(('timeline', params['timeline']))  # noqa: E501
        if 'tag' in params:
            query_params.append(('tag', params['tag']))  # noqa: E501
        if 'keyword' in params:
            query_params.append(('keyword', params['keyword']))  # noqa: E501
        if 'brand' in params:
            query_params.append(('brand', params['brand']))  # noqa: E501
        if 'lens' in params:
            query_params.append(('lens', params['lens']))  # noqa: E501
        if 'focal_min' in params:
            query_params.append(('focalMin', params['focal_min']))  # noqa: E501
        if 'focal_max' in params:
            query_params.append(('focalMax', params['focal_max']))  # noqa: E501
        if 'iso_min' in params:
            query_params.append(('isoMin', params['iso_min']))  # noqa: E501
        if 'iso_max' in params:
            query_params.append(('isoMax', params['iso_max']))  # noqa: E501
        if 'shot_at_start' in params:
            query_params.append(('shotAtStart', params['shot_at_start']))  # noqa: E501
        if 'shot_at_end' in params:
            query_params.append(('shotAtEnd', params['shot_at_end']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sortBy', params['sort_by']))  # noqa: E501
        if 'sort_order' in params:
            query_params.append(('sortOrder', params['sort_order']))  # noqa: E501
        if 'burst_group_id' in params:
            query_params.append(('burstGroupId', params['burst_group_id']))  # noqa: E501
        if 'burst_profile' in params:
            query_params.append(('burstProfile', params['burst_profile']))  # noqa: E501
        if 'segment_mode' in params:
            query_params.append(('segmentMode', params['segment_mode']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/photos/segments', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApiListPhotoSegmentsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def photo_service_rebuild_burst_groups(self, body, **kwargs):  # noqa: E501
        """photo_service_rebuild_burst_groups  # noqa: E501

        触发连拍分组全量重算（异步）  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_rebuild_burst_groups(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApiEmpty body: (required)
        :return: ApiRebuildBurstGroupsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.photo_service_rebuild_burst_groups_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.photo_service_rebuild_burst_groups_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def photo_service_rebuild_burst_groups_with_http_info(self, body, **kwargs):  # noqa: E501
        """photo_service_rebuild_burst_groups  # noqa: E501

        触发连拍分组全量重算（异步）  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_rebuild_burst_groups_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApiEmpty body: (required)
        :return: ApiRebuildBurstGroupsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method photo_service_rebuild_burst_groups" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `photo_service_rebuild_burst_groups`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/burst-groups/rebuild', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApiRebuildBurstGroupsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def photo_service_search_photos(self, **kwargs):  # noqa: E501
        """photo_service_search_photos  # noqa: E501

        复杂条件分页查询  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_search_photos(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page:
        :param int page_size:
        :param str timeline:
        :param str tag:
        :param str keyword:
        :param str brand:
        :param str lens:
        :param str focal_min:
        :param str focal_max:
        :param int iso_min:
        :param int iso_max:
        :param str shot_at_start:
        :param str shot_at_end:
        :param str sort_by:
        :param str sort_order:
        :param str burst_group_id:
        :param str burst_profile:
        :return: ApiSearchPhotosResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.photo_service_search_photos_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.photo_service_search_photos_with_http_info(**kwargs)  # noqa: E501
            return data

    def photo_service_search_photos_with_http_info(self, **kwargs):  # noqa: E501
        """photo_service_search_photos  # noqa: E501

        复杂条件分页查询  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_search_photos_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page:
        :param int page_size:
        :param str timeline:
        :param str tag:
        :param str keyword:
        :param str brand:
        :param str lens:
        :param str focal_min:
        :param str focal_max:
        :param int iso_min:
        :param int iso_max:
        :param str shot_at_start:
        :param str shot_at_end:
        :param str sort_by:
        :param str sort_order:
        :param str burst_group_id:
        :param str burst_profile:
        :return: ApiSearchPhotosResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page', 'page_size', 'timeline', 'tag', 'keyword', 'brand', 'lens', 'focal_min', 'focal_max', 'iso_min', 'iso_max', 'shot_at_start', 'shot_at_end', 'sort_by', 'sort_order', 'burst_group_id', 'burst_profile']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method photo_service_search_photos" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501
        if 'timeline' in params:
            query_params.append(('timeline', params['timeline']))  # noqa: E501
        if 'tag' in params:
            query_params.append(('tag', params['tag']))  # noqa: E501
        if 'keyword' in params:
            query_params.append(('keyword', params['keyword']))  # noqa: E501
        if 'brand' in params:
            query_params.append(('brand', params['brand']))  # noqa: E501
        if 'lens' in params:
            query_params.append(('lens', params['lens']))  # noqa: E501
        if 'focal_min' in params:
            query_params.append(('focalMin', params['focal_min']))  # noqa: E501
        if 'focal_max' in params:
            query_params.append(('focalMax', params['focal_max']))  # noqa: E501
        if 'iso_min' in params:
            query_params.append(('isoMin', params['iso_min']))  # noqa: E501
        if 'iso_max' in params:
            query_params.append(('isoMax', params['iso_max']))  # noqa: E501
        if 'shot_at_start' in params:
            query_params.append(('shotAtStart', params['shot_at_start']))  # noqa: E501
        if 'shot_at_end' in params:
            query_params.append(('shotAtEnd', params['shot_at_end']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sortBy', params['sort_by']))  # noqa: E501
        if 'sort_order' in params:
            query_params.append(('sortOrder', params['sort_order']))  # noqa: E501
        if 'burst_group_id' in params:
            query_params.append(('burstGroupId', params['burst_group_id']))  # noqa: E501
        if 'burst_profile' in params:
            query_params.append(('burstProfile', params['burst_profile']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/photos', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApiSearchPhotosResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def photo_service_set_burst_group_cover(self, body, group_id, **kwargs):  # noqa: E501
        """photo_service_set_burst_group_cover  # noqa: E501

        设置连拍组封面  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_set_burst_group_cover(body, group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApiSetBurstGroupCoverRequest body: (required)
        :param str group_id: (required)
        :return: ApiEmpty
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.photo_service_set_burst_group_cover_with_http_info(body, group_id, **kwargs)  # noqa: E501
        else:
            (data) = self.photo_service_set_burst_group_cover_with_http_info(body, group_id, **kwargs)  # noqa: E501
            return data

    def photo_service_set_burst_group_cover_with_http_info(self, body, group_id, **kwargs):  # noqa: E501
        """photo_service_set_burst_group_cover  # noqa: E501

        设置连拍组封面  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_set_burst_group_cover_with_http_info(body, group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApiSetBurstGroupCoverRequest body: (required)
        :param str group_id: (required)
        :return: ApiEmpty
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'group_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method photo_service_set_burst_group_cover" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `photo_service_set_burst_group_cover`")  # noqa: E501
        # verify the required parameter 'group_id' is set
        if ('group_id' not in params or
                params['group_id'] is None):
            raise ValueError("Missing the required parameter `group_id` when calling `photo_service_set_burst_group_cover`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'group_id' in params:
            path_params['groupId'] = params['group_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/burst-groups/{groupId}/cover', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApiEmpty',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def photo_service_update_burst_groups_config(self, body, **kwargs):  # noqa: E501
        """photo_service_update_burst_groups_config  # noqa: E501

        保存连拍分组两档位阈值（写入 app_settings）  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_update_burst_groups_config(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApiUpdateBurstGroupsConfigRequest body: (required)
        :return: ApiEmpty
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.photo_service_update_burst_groups_config_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.photo_service_update_burst_groups_config_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def photo_service_update_burst_groups_config_with_http_info(self, body, **kwargs):  # noqa: E501
        """photo_service_update_burst_groups_config  # noqa: E501

        保存连拍分组两档位阈值（写入 app_settings）  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_update_burst_groups_config_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApiUpdateBurstGroupsConfigRequest body: (required)
        :return: ApiEmpty
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method photo_service_update_burst_groups_config" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `photo_service_update_burst_groups_config`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/burst-groups/config', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApiEmpty',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def photo_service_update_photo_shot_at(self, body, id, **kwargs):  # noqa: E501
        """photo_service_update_photo_shot_at  # noqa: E501

        修改拍摄时间（写 DB + 写 EXIF）  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_update_photo_shot_at(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApiUpdatePhotoShotAtRequest body: (required)
        :param str id: (required)
        :return: ApiEmpty
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.photo_service_update_photo_shot_at_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.photo_service_update_photo_shot_at_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def photo_service_update_photo_shot_at_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """photo_service_update_photo_shot_at  # noqa: E501

        修改拍摄时间（写 DB + 写 EXIF）  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_update_photo_shot_at_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApiUpdatePhotoShotAtRequest body: (required)
        :param str id: (required)
        :return: ApiEmpty
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method photo_service_update_photo_shot_at" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `photo_service_update_photo_shot_at`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `photo_service_update_photo_shot_at`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/photos/{id}/shot_at', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApiEmpty',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def photo_service_update_photo_tags(self, body, id, **kwargs):  # noqa: E501
        """photo_service_update_photo_tags  # noqa: E501

        更新标签  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_update_photo_tags(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApiUpdatePhotoTagsRequest body: (required)
        :param str id: (required)
        :return: ApiEmpty
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.photo_service_update_photo_tags_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.photo_service_update_photo_tags_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def photo_service_update_photo_tags_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """photo_service_update_photo_tags  # noqa: E501

        更新标签  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.photo_service_update_photo_tags_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApiUpdatePhotoTagsRequest body: (required)
        :param str id: (required)
        :return: ApiEmpty
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method photo_service_update_photo_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `photo_service_update_photo_tags`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `photo_service_update_photo_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/photos/{id}/tags', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApiEmpty',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
